*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #219ebc;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(2,48,71,0.3);
    font-size: 8vmin;
    color: #023047;
    background-color: #ffb703;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #8ecae6;
    color: #023047;
    border: none;
    border-radius: 1rem;
}

#new-gameBtn{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #8ecae6;
    color: #023047;
    border: none;
    border-radius: 1rem;
}

#msg{
    color: bisque;
    font-size: 5vmin;
}

.msg-container{
    align-items: center;
    height: 30vmin;   
}

.hide{
    display: none;
}
